@model lab4.Models.CarViewModel
@{
    ViewData["Title"] = "Cars";
}
<table style="margin:20px;">
    <caption>Машины</caption>
    <tr>
        <th>Название бренда</th>
        <th>Владелец</th>
        <th>Регистрационный номер</th>
        <th>Год</th>
        <th>Дата регистрации</th>
        <th></th>
    </tr>
    @foreach (var car in Model.Cars)
            {
        <tr>
            <td>@car.Brand.BrandName</td>
            <td>@car.Owner.OwnerName</td>
            <td>@car.CarRegistrationNumber</td>
            <td>@car.CarReleaseDate</td>
            <td>@car.CarRegistrationDate</td>
            <td><a href="~/Home/Edit/@car.CarID">Редактировать</a></td>
        </tr>
    }
</table>


